body {
  background-color: #2c2f33;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.7);
}

#nav-logo {
  display: inline-block;
  float: left;
  margin-left: 10px;
  user-select: none;
}

.header {
  display: block;
  height: 64px;
  margin-top: 10px;
}

.top-nav {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  float: left;
  margin-left: 20px;
}

.top-nav a {
  float: left;
  padding: 14px 10px;
}

.top-nav a:hover {
  color: white;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 38px;
  margin-bottom: 10px;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#logo {
  border-radius: 100%;
  box-shadow: 0 8px 10px #262626;
  margin-top: 150px;
  width: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.buttons-main {
  user-select: none;
}

.button-large {
  display: inline-block;
  height: 60px;
  width: 256px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin: 20px;
  font-size: 17px;
  cursor: pointer;
  user-select: none;
}

#button-invite {
  background-color: #BB86FC;
  margin-right: 20px;
}

#button-invite:hover {
  background-color: #cba1ff;
}

#button-more {
  background-color: #212121;
  color: white;
}

button:focus {
  outline: 0;
}

#tabel {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}